
//COLORS
/*black: #000000
blue: #78BFEA
darker blue (for rollovers?): #417B9D
*/

//CSS RESET
@import 'reset';

//Fonts

@font-face {
	font-family: "BatonTurboWeb";
	src: url("/dist/Webfonts/BatonTurboWeb-Book.woff") format("woff"),
		 url("/dist/Webfonts/BatonTurboWeb-Book.eot") format("eot");
  }
* {
	box-sizing: border-box;
}

body {
	background: #000000;

}

a:hover {
	text-decoration: none;
}


/////////////////////Header Styles///////////////////@at-root

.content {
	max-width: 1200px;
	margin: auto;
}

header {
	text-align: center;
	font-family: "BatonTurboWeb";
	position: fixed;
	top: 0%;
	position: -webkit-sticky;
	z-index: 2;
	width: 100%;
	background: #000000;
	max-width: 1200px;
	
	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 20px;
		a {
			text-decoration: none;
			color: white;
			position: relative;
			width: 25%;
			font-size: .65rem;

		}
		
		.nav-bar-blue {
			position: absolute;
			left: 0%;
			top: 7%;
			width: 25%;
			height: 5px;
			background: white;
			z-index: 10;
		}

		.nav-bar-blue:hover {
			background: #78BFEA;
		}
		.nav-btn1:after {
			content: '';
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: 5px;
			background: white;
		}

		.nav-btn2:after {
			content: '';
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: 5px;
			background: white;
		}

		.nav-btn3:after {
			content: '';
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: 5px;
			background: white;
		}

		.nav-btn4:after {
			content: '';
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: 5px;
			background: white;
		}

		.nav-btn1:hover:after, .nav-btn2:hover:after, .nav-btn3:hover:after, .nav-btn4:hover:after {
			background: #78BFEA;
		}

		a:active {
			color: #78BFEA;
		}

		.active {
			color: #78BFEA;
		}

		a:hover {
			color: #78BFEA;

		}

		li {
			padding: 10px;
		}
	}

}

.hero-wrap {
	width: 100%;
	height: 80vh;
	position: relative;
	margin-bottom: 20px;

	.galleria-remixed {
		position: absolute;
		top: 18%;
		color: white;
		font-size: 1.8rem;
		font-family: "BatonTurboWeb";

		h1 {
			padding: 0px 10px;
		}


	}

		.hero-blurb {
			position: absolute;
			top: 24%;
			width: 100%;
			padding: 10px;
			margin: auto;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			font-family: "BatonTurboWeb";
	
	
				h4 {
				font-size: 1.8rem;
				margin: 5px 0px;
				color: white;
			}
	
			span {
				color: #78BFEA;
			}
		}


	

	.hero-copy {
		width: 100%;
		margin: 20px auto;
		color: white;
		font-family: "BatonTurboWeb";


		p {
			font-size: .9rem;
			line-height: 1.2; 
		}

		span {
			color: #78BFEA;
		}

		.margin-text {
			margin-top: 30px;
		}
	}
}


#img-carousel {
	margin-top: 50px;

	.carousel-indicators li {
		border-radius: 50%;
		height: 12px;
		width: 12px;
	}

	.carousel-caption {
		left: 0%;
		right: 80%;
		text-align: left;
		padding: 30px 20px;
		background: rgba(85, 83, 83, 0.4);
		bottom: 0px;
		width: 26%;

		h5 {
			color: #78BFEA;
			font-family: "BatonTurboWeb";
			width: 100%;
			font-size: 2rem;
		}
	}
}

.building-nav {
	background: white;
	width: 100%;
	font-family: "BatonTurboWeb";
	margin-top: 40px;


	h3 {
		color: #78BFEA;

	}

	span {
		color: #000000;
	}

	.build-wrap {

		.bld-200, .bld-300, .bld-600 {
			padding: 10px;
			font-family: "BatonTurboWeb";
			line-height: 1.2;
		}

		.bld-200-copy, .bld-300-copy {
			margin-bottom: 10px;
			line-height: 1.3;
		}

		.features-wrap {
			font-size: 1.4rem;

			 p {
				 margin-bottom: 10px;
			 }
		}

		h4 {
			color: #78BFEA;
			margin-bottom: 10px;
		}


		.bld-img-wrap {
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 5px;

			img {
				width: 100%;
				padding: 5px;
				align-self: center;
			}

			p {
				padding: 10px;
			}
		}

		.learn-more {
			padding: 10px 10px;
			border-bottom: 1px solid  #78BFEA;
			font-family: "BatonTurboWeb";

		}
	}

	.and-more-section {
		width: 100%;
		margin-top: 5px;
		font-family: "BatonTurboWeb";

		span {
			color: #000000;
		}
		
		p {
			font-family: "BatonTurboWeb";
			color: #78BFEA;
			padding: 20px 10px 30px 10px;
			line-height: 1.3em;
		}
	}


}

.announcements {
	background: white;
	margin-top: 40px;
	width: 100%;

	h1 {
		padding: 10px;
		background: #78BFEA;
		font-family: "BatonTurboWeb";
	}

	.announcements-text {
		padding: 40px 10px;
		margin-top: 5px;
		font-family: "BatonTurboWeb";
		line-height: 1.2;
	}

	span {
		color: #000000;
	}

	p {
		padding: 20px 0px;
	}
	li {
		padding: 5px 10px;
	}

	h4 {
		color: #78BFEA;
		margin-bottom: 10px;
	}
	a {
		padding: 5px 0px;
		display: block;
	}
}


.owners-section {
	background: white;
	margin-top: 40px;
	width: 100%;

	h1 {
		padding: 10px;
		background: #78BFEA;
		font-family: "BatonTurboWeb";
	}


	.owners-text {
		padding: 40px 10px;
		margin-top: 5px;
		font-family: "BatonTurboWeb";

		.img-wrap-owners {
			width: 100%;

			img {
				width: 100%;
			}
		}

		span {
			color: #000000;
		}

		p {
			line-height: 1.2em;
			padding: 20px 0px;
			text-overflow: initial;
		}

		h4 {
			color: #78BFEA;
			margin-bottom: 10px;
		}
	}
}

.above-footer-img {
	width: 100%;
	margin: 40px 0px;

	img {
		width: 100%;
	}
}

footer {
	width: 100%;
	background: #78BFEA;


	h2 {
		font-family: "BatonTurboWeb";
		font-size: 2rem;
		width: 70%;
		padding: 10px;

	}
	
	.input-wrap {
		width: 80%;
		margin: auto;
		padding: 20px 0px;

		input {
			border: 1px solid white;
			// padding: 20px;
			background: #78BFEA;
			color: #000000;
			width: 100%;
			height: 45px;
			outline: none;
			resize: horizontal;
			margin-bottom: 20px;
		}
		::placeholder {
			color: #000000;
			font-family: "BatonTurboWeb";
			font-size: .8rem;
		}

		button {
			float: right;
			margin-bottom: 40px;
			outline: none;
			background: #000000;
			color: white;
			font-family: "BatonTurboWeb";
			padding: 10px 30px;
			border: 1px solid black;
		}
	}

	.footer-contact {
		clear: both;
		padding: 10px;
		width: 100%;
		background: #000000;
		font-family: "BatonTurboWeb";

		a {
			color: white;
		}

		a:hover {
			color: #78BFEA;
		}



		.footer-contact-img {
			display: inline-block;
			vertical-align: top;
			width: 35%;
			margin: 1em 1em 1em 1em;
			
			img {
				width: 100%;
			}
		}


		.company-info {
			display: none;
		}
		

		.company-info-mobile {
			display: inline-block;
			width: 51%;
			padding: 10px;
			margin-left: 20px;
			font-size: .9em;
			margin: 1em 1em 1em 0;
			

			span {
				color: #78BFEA;
			}

			p {
				color: white;
				font-family: "BatonTurboWeb";

			}

		}

		.owner-info-footer {
			width: 80%;
			margin: 20px auto;
			span {
				color: #78BFEA;
			}

			p {
				text-align: center;
				color: white;
				margin-bottom: 5px;
				font-family: "BatonTurboWeb";

			}
		}

		.owner-logo {
			width: 100%;
			text-align: center;
			img {
				width: 40%;
				margin: 80px auto;
				display: block;
				clear: both;

			}
		}

		.mailing-list {
			width: 80%;
			position: relative;
			margin: 40px auto;


			input {
				width: 100%;
				margin: auto;
				background: #000000;
				border: 1px solid white;
				outline: none;
				padding: 8.7px 15px;
				color: white;
			}

			::placeholder {
				font-family: "BatonTurboWeb";
				font-size: .8em;
				color: white;
			}

			.button {
				background: #78BFEA;
				color: black;
				padding: 12px 15px; 
				outline: none;
				border: 1px solid white;
				// position: absolute;
				font-size: .8em;
			}

			.clear {
				width: 30%;
				float: right;
			}
		}
	}
}

#owners, #announcements {
	margin-bottom: 60px;
}


////////Media Queries///////

@media only screen and (min-width: 768px) {

	header ul a {
		font-size: 1.1rem;
	}

	.hero-wrap {
		height: 80vh;
		.galleria-remixed {
			width: 20%;
			top: 12%;
			position: absolute;
			font-size: 2rem;
		}
		.hero-blurb {
			align-items: center;
			top: 14%;
			
			.text-wrap-hero {
				margin-top: 40px;
				width: 55%;
				padding: 0px 20px;
				margin: auto;
			}

			h4 {
				font-size: 3.9rem;
				margin-bottom: 10px;
				color: white;
			}
		}

		.hero-copy {
			width: 55%;
			margin: auto;
			padding: 10px 20px;
		}
	}

	.building-nav {
		padding: 10px;
		.build-wrap {
			width: 100%;
			.bld-200, .bld-300 {
				width: 51%;
				font-size: 2rem;
				padding: 20px;
			}
	
			.bld-img-wrap {
				flex-direction: row;
				width: 33.33%;
				margin-left: 10px;
			}

			.learn-more {
				padding: 0px 0px 20px 0px;
				margin: 20px 20px;
			}
		}

		.and-more-section {
			width: 70%;
			padding: 10px;
			font-size: 1.5rem;
		}

		
	}

	.announcements {
		 h1 {
			 font-size: 1.2rem;
			padding: 12px 20px;
		 }

		 h4 {
			 font-size: 1.3rem;
			 padding: 10px;
		 }
		 p {
			 width: 50%;
			 padding: 10px;
		 }

		 a {
			 padding: 10px;
		 }
	}
	
	.owners-section {
		position: relative;
		h1 {
			font-size: 1.2rem;
			padding: 12px 20px;
		}
		.owners-text {

			a {
				position: absolute;
				left: 32%;
				top: 86%;	
			}
			h4 {
				font-size: 1.3rem;
				padding: 10px;

			}


		}
		.owner-wrap {
			position: relative;
			display: flex;
			flex-direction: row;
			margin: 20px 10px 20px 10px;


			p {
				padding: 0px;
				line-height: 1.2;
				width: 70%;
			}

			.img-wrap-owners {
				margin-right: 20px;
				width: 30%;

			}
		}
	}

	.mixtap-section {
		height: 280px;	
		position: relative;

		.mixtape-wrap {
			padding-top: 20px; 
			h2 {
				width: 30%;
				padding: 20px;	
				display: inline-block;
				vertical-align: top;
				margin-left: 20px;
			}
	
			.input-wrap {
				width: 65%;
				display: inline-block;

				input {
					height: 150px;
					width: 100%;
				}

				input::placeholder {	
					padding: 20px;
				}
			}
		}

	}

	footer {
		.footer-contact {
			height: 200px;
			display: flex;
			padding: 0px;
			flex-direction: row;

			.footer-contact-img {
				width: 33%;
				margin: 10px auto;
				img {
					width: 90%;
					padding: 0px 20px;
				}
			}

			.mailing-list {
				button {
					padding: 12px 15px;
				}
			}

			.company-info-mobile {
				display: none;
			}
	
		}

	
		.company-wrap {
			text-align: left;;
			width: 33%;
			margin: 10px auto;
			font-size: .9rem;
			line-height: 1.2;
	

			.company-info {
				width: 90%;
				display: block;
				text-align: left;
				padding: 0px;
				margin: 0px;
				color: white;
			}

			span {
				color: #78BFEA;
			}

			.owner-info-footer {
				width: 100%;
				margin-top: 60px;
				text-align: left;

				p {
					text-align: left;
				}
			}
		}

		.input-logo-wrap {
			width: 33%;
			margin: 10px auto;
			text-align: right;


			.owner-logo {
			margin-top: 100px;
				img {
					margin: initial;
					margin-left: auto;
					width: 50%;	
				}
			}
			
			.mailing-list {
				margin: unset;
				margin-left: auto;

				input {
					color: white;
				}

				.clear {
					width: 50%;
					float: right;	
				}
			}
		}
	}
}


@media only screen and (min-width: 1000px) {

	.building-nav .build-wrap .bld-200, .building-nav .build-wrap .bld-300 {
		width: 35%;
	}
	
	footer .footer-contact .footer-contact-img img {
		width: 70%;
	}
}